<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS-Project</title>
    <script src="js/app.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <% if (messages.error) { %>
     <%= messages.error %>
       <% } %>

    <button class='login--button'>Login</button>
    <button class='register--button'>Register</button>

    <form name="login">
        <div class="login">
            <p>Login</p>
            <label>E-mail: <input type="email" id='email' placeholder="Enter your email" required></label>
            <!-- <label for='password'>Password</label> -->
            <label>Password: <input type="password" id="password" placeholder="Enter your password" required></label>
            <button type="submit">Login</button>
        </div>  
    </form>
    
    <form name="register" action="/register" method="POST">
        <div class="register">
            <p>Register</p>
            <label>Name: <input type="text" name="name" id='name-register' placeholder="Enter your name" required></label>
            <label>E-mail: <input type="email" name="email" id='email-register' placeholder="Enter your email" required></label>
            <label>Password: <input type="password" name="password" id="password-register" placeholder="Enter your password" required></label>
            <button type="submit">Register</button>
        </div>
    </form>

</body>
</html>