* {
  box-sizing: border-box;
}

body {
  background-color: #21232a;
  color: white;
  font-family: helvetica, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 20px;
}

.login {
    display: none;
    border: 2px solid green;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
    width: 400px;
}

.register {
    display: none;
    border: 2px solid red;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
    width: 400px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.login--button:focus {
  background-color: green;
  border-radius: 5px;
}

.register--button:focus {
  background-color: red;
  border-radius: 5px;
}